<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Registration</h1>
      <div class="row center">
        <h5 class="header col s12 light">Just a few questions before we get started...</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="http://lorempixel.com/1400/800/nature/5/" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="input-field col s12 m6">
          <%= f.label :name %>
          <%= f.text_field :name, class: "validate" %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "validate" %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.label :address %>
          <%= f.text_field :address, class: "validate" %>
        </div> 
        <div class="input-field col s12 m6">
          <%= f.label :email %>
          <%= f.email_field :email, class: "validate" %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.label :password %>
          <%= f.password_field :password, class: "validate" %>
        </div>
        <div class="input-field col s12 m6">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: "validate" %>
        </div>
        <div class="col s12">
          <div class="row">
            <%= f.submit "Create my account", class: "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>