<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Pax Kapital</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <% if logged_in? %>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li class="divider"></li>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>
    <% end %>
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"> Pax</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Browse Campaigns</a></li>
        <% if logged_in? %>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= current_user.name %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <% else %>
          <li><a href="/signup">Login/Register</a></li>
        <% end %>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">How It Works</a></li>
        <li><a href="#">Browse Campaigns</a></li>
        <li><a href="/signup">Login/Register</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
<% flash.each do |message_type, message| %>
  <script>
    Materialize.toast("<%= "#{message}" %>", 5000)
  </script>
<% end %>

<%= yield %>

<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4"></p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <%= debug(params) if Rails.env.development? %>
</footer>

</body>
</html>
